<%- include('../layout/admin/header') %>
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <!-- Left Side - Images -->
            <div class="d-flex align-items-center"> <!-- Added align-items-center class -->
                <div class="headOne">
                    <a class="navbar-brand" href="#">
                        <img src="./images/adminpage/Homy-logos_transparent.png" alt="Logo" width="120"  height="100" class="d-inline-block align-text-top">
                    </a>
                </div>
                <div class="headTwo mx-auto d-flex justify-content-center align-items-center w-100"> <!-- Added w-100 class for 100% width -->
                    <a class="navbar-brand" href="#">
                        <img src="./images/adminpage/homy.png" style="margin-left: 400px" alt="Logo" width="180" height="100" class="d-inline-block align-text-top">
                    </a>
                </div>
            </div>
        </div>

    </nav>
    <nav class="navbar fixed-top-10px">
        <div class="container  mt-2 mb-2">
          <!-- <a class="navbar-brand" href="#">Offcanvas navbar</a> -->
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h3 class="offcanvas-title mt-3 " id="offcanvasNavbarLabel">Homy Admin Panel</h3>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body m-3 ">
                <form class="d-flex mt-3" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                  </form>
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 mt-5 ">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/allOrders">All Orders</a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/allUsers">Users</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/allProducts">Products</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/allCategory">Categories</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/allOffers">Offers</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/allCoupons">Coupons</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/allBanners">Banners</a>
                  </li>
                  
              </ul>
              
            </div>
          </div>
          <div class="custom-background d-flex justify-content-between align-items-center">
            <div class="navOne">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item    mt-3 ms-3 "><a href="/admin/dashboard" class="text-light">Dashboard</a></li>
                    </ol>
                  </nav>
            </div>
            <div class="navTwo d-flex align-items-center">
                <span class="me-3 text-light">Hi, Sreekuttan</span> 
                <form action="/admin/logout"  method="post">
                    <input type="submit" class="btn mt-2 text-light mb-2 " value="Logout">
                </form>
            </div>
        </div>
        
         
        
        </div>
      </nav>
    
</header>
<!-- body started -->
<section>

  <div class="main overflow-scroll ">
<section>
    
    <div class="container mt-0 dashBoardMain">
        <div class="row">
            <h1 >Dashboard</h1>
            <div class="col-md-3   dashMainCard">
                <div class="card text-white bg-primary middleCard mb-3">
                    <div class="card-body ">
                        <h5 class="card-title">Total User</h5>
                        <span class="material-symbols-outlined">
                          groups
                          </span>
                        <p class="card-text"><%=totalUser%></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3  dashMainCard">
                <div class="card text-white bg-success middleCard mb-3">
                    <div class="card-body ">
                        <h5 class="card-title">Total Revenue</h5>
                        <span class="material-symbols-outlined">
                          payments
                          </span>
                        <p class="card-text"> ₹ 
                          <%if(totalRevenue!=0)
                          {%>
                            <%=totalRevenue[0].totalAmount%>
                          <%}else{%>
                            0
                            <%}%>
                          </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3  dashMainCard">
                <div class="card text-white bg-warning middleCard mb-3">
                    <div class="card-body ">
                        <h5 class="card-title">Total Orders</h5>
                        <span class="material-symbols-outlined">
                          shopping_cart
                          </span>
                        <p class="card-text"><%=totalOrders%></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3  dashMainCard">
              <div class="card text-white bg-danger middleCard   mb-3">
                  <div class="card-body ">
                      <h5 class="card-title">Total Products</h5>
                      <span class="material-symbols-outlined">
                        local_mall
                        </span>
                      <p class="card-text"><%=totalProducts%></p>
                  </div>
              </div>
          </div>
        </div>
    </div>
    

</section>

<section>
  <div class="dashboardSectionTwo ">
    <div class="innerChart">
      <div class="chartTops ">
        <div class="leftChart">
        
        <a href="/admin/yearlyChart" class="reportlink"><button type="button" class="btn btn-warning" 
          style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: 1rem;">
           Yearly Sales
          </button></a>
          <a href="/admin/dashboard" class="reportlink"><button type="button" class="btn btn-warning"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: 1rem;">
            Monthly Sales
          </button></a>
        </div>
        <div class="rightChart">
          
          <div class="btn-group">
            <button type="button" class="btn btn-warning   dropdown-toggle me-1" data-bs-toggle="dropdown" aria-expanded="false" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: 1.0rem; width: 8rem; display: flex; align-items: center;">
              <span class="material-symbols-outlined me-2" style="flex-shrink: 0;">description</span>
              <span>Report</span>
            </button>
            
            <ul class="dropdown-menu bg-warning ">
              <li><a class="dropdown-item" href="/admin/salesReport">Sales Report</a></li>
              
            </ul>
          </div>

        </div>
      
      </div>
      <div id="chart">
        <div id="timeline-chart"></div>
      </div>
    </div>
    
    </div>
    <div class="container">
      <div class="row ms-5">
        <div id="chart" class="col-11"></div>
        <div class="col-7 mt-5" > 
          
          <p  class="btn btn-secondary mb-5" id="bestProducts"  value="product">Best selling product</p>
          <p  class="btn btn-secondary mb-5" id="bestBrand" value="brand">Best selling Brands</p>
          <p class="btn btn-secondary mb-5" id="bestCategory" value="category">Best selling Category</p>
          <div id="chart2"></div>
        </div>
      </div>
    </div>
</section>
</div>
</section>

<!-- body end -->







<!-- script chart -->
<script>
var ordersData = <%- JSON.stringify(OrderCounts) %>;
var revenewData= <%- JSON.stringify(TotalAmounts) %>;
var discount= <%- JSON.stringify(CouponDiscounts) %>;
var category=<%- JSON.stringify(categories) %>;
var text=<%- JSON.stringify(text) %>;
      console.log("orderData",ordersData);
      console.log("revenuDtata",revenewData);
      console.log("discount",discount);
      console.log("category",category);
      console.log("text",text);
var options = {
          series: [{
          name: 'Orders',
          type: 'column',
          data: ordersData
        }, {
          name: 'Revenue',
          type: 'line',
          data: revenewData
        }, {
          name: 'Discount',
          type: 'line',
          data: discount
        }],
          chart: {
          height: 350,
          type: 'line',
          stacked: false
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          width: [1, 1, 4]
        },
        title: {
          text: `Homy ${text} Sales Data`,
          align: 'left',
          offsetX: 110
        },
        
        labels: category,
          xaxis: {
              type: 'category'
          },
        yaxis: [
          {
            axisTicks: {
              show: true,
            },
            axisBorder: {
              show: true,
              color: '#008FFB'
            },
            labels: {
              style: {
                colors: '#008FFB',
              }
            },
            title: {
              text: "Orders",
              style: {
                color: '#008FFB',
              }
            },
            tooltip: {
              enabled: true
            }
          },
          {
        opposite: true, 
        title: {
            text: 'Revenue / Discount' 
        },
    }
        ],
        tooltip: {
        shared: true,
        intersect: false,
        y: {
            formatter: function (val) {
                return val + " ";
            }
        }
    },
        legend: {
          horizontalAlign: 'left',
          offsetX: 40
        }
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();

        
    function updateChart(interval) {
      console.log(`Updating chart for ${interval}`);
      let newData = fetchDataForInterval(interval);
      ApexCharts.exec('yourChartId', 'updateSeries', newData);
    }
</script>





<script>
  document.addEventListener('DOMContentLoaded', function() {
    let chart2;
  
    const updateChart = (url, itemDescription) => {
      axios.get(url)
        .then((res) => {
          const data = res.data.bestSellingProducts;
          const brandData=res.data.bestSellingBrands
          const categoryData=res.data.bestSellingCategories
        
          let labels = [];
          let totalSales =[]
          if (itemDescription === 'Products') {
            labels = data.map(product => product.productId);
            totalSales = data.map(product => product.totalSales);
          } else  if(itemDescription === 'Brands') {
            labels = brandData.map(product => product.brand);
            totalSales = brandData.map(product => product.totalSales);
          }else{
            labels = categoryData.map(product => product.categoryName);
            totalSales = categoryData.map(product => product.totalSales);
  
          }
  
        
          const item = res.data.item;
  
          const options = {
            series: [{
              name: `Total Sales`,
              data: totalSales
            }],
            chart: {
              height: 350,
              type: 'bar'
            },
            title: {
              text: `Best selling ${itemDescription || item}`
            },
            xaxis: {
              categories: labels
            }
          };
  
          if (chart2) {
            chart2.destroy();
          }
  
          chart2 = new ApexCharts(document.querySelector("#chart2"), options);
          chart2.render();
        })
        .catch((err) => {
          console.log(err);
        });
    };
  
    const bestProduct = document.getElementById('bestProducts');
    bestProduct.addEventListener('click', function(e) {
      e.preventDefault();
      updateChart('/admin/bestSellingProduct', 'Products');
    });
  
    const brandBtn = document.getElementById('bestBrand');
    brandBtn.addEventListener('click', function(e) {
      e.preventDefault();
   
      updateChart('/admin/bestSellingBrand', 'Brands');
    });
  
    const categoryBtn=document.getElementById('bestCategory')
    bestCategory.addEventListener('click',function(e){
      e.preventDefault()
      updateChart('/admin/bestSellingCategory', 'Category');
  
    })
    
  });
  
    </script>
  </body>


<%- include('../layout/admin/footer') %>