<%- include('../layout/admin/header')%>
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <!-- Left Side - Images -->
            <div class="d-flex align-items-center"> <!-- Added align-items-center class -->
                <div class="headOne">
                    <a class="navbar-brand" href="#">
                        <img src="./images/adminpage/Homy-logos_transparent.png" alt="Logo" width="120"  height="100" class="d-inline-block align-text-top">
                    </a>
                </div>
                <div class="headTwo mx-auto d-flex justify-content-center align-items-center w-100"> <!-- Added w-100 class for 100% width -->
                    <a class="navbar-brand" href="#">
                        <img src="./images/adminpage/homy.png" style="margin-left: 420px" alt="Logo" width="180" height="100" class="d-inline-block align-text-top">
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <nav class="navbar bg-body-warning fixed-top-10px">
        <div class="container mt-2 mb-2">
          <!-- <a class="navbar-brand" href="#">Offcanvas navbar</a> -->
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h3 class="offcanvas-title mt-3 " id="offcanvasNavbarLabel">Homy Admin Panel</h3>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body m-3 ">
                <form class="d-flex mt-3" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                  </form>
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 mt-5 ">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/admin/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">All Orders</a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/allUsers">Users</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/allProducts">Products</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/allCategory">Categories</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/allOffers">Offers</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/allCoupons">Coupons</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/allBanners">Banners</a>
                  </li>
                  
              </ul>
              
            </div>
          </div>
          <div class="custom-background d-flex justify-content-between align-items-center">
            <div class="navOne">
              <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item    mt-3 ms-3 "><a href="/admin/dashboard" class="text-light">Dashboard</a></li>
                  <li class="breadcrumb-item    mt-3 ms-3 "><a href="/admin/allOrders" class="text-light">All Orders</a></li>
                  <li class="breadcrumb-item active  mt-3 text-light       " aria-current="page">Order Items</li>
                </ol>
              </nav>
            </div>
            <div class="navTwo d-flex align-items-center">
                <span class="me-3 text-light">Hi, Sreekuttan</span> 
                <form action="/admin/logout"  method="post">
                  <input type="submit" class="btn mt-2 text-light mb-2 " value="Logout">
              </form>
            </div>
        </div>
        </div>
      </nav>
</header>
<section>

<section class="account-settings">
  <div class="container">
    <div class="row">
      <div class="mainBody">
        <div class="container">
          <div class="row">
              <!-- left -->
            
            <!-- left end -->

            <!-- right -->
            <div class="col-md-12">
              <div class="innerRight bg-light-tertiary p-4 mt-0">
                <h2>My Orders</h2>
                
                <!-- section starting -->
                <section>
                  <div class="container">
                      <div class="row">
                        <%
                        if(orderData.productItem.length>0)
                        {
                         
                            %>
                            <div class="container-fluid bg-body-secondary  pt-3 ">
                          <table class="table table-hover ">
                              <thead>
                                
                                <tr style="border-bottom: #f8f7f7;">
                                  <th  style="background-color:#3b5d70 ;color: #ffffff; ">Delivery Date</th>
                                  <th style="background-color:#3b5d70 ;color: #ffffff">Total</th>
                                  <th style="background-color:#3b5d70 ;color: #ffffff"> Status</th>
                                  <th style="background-color:#3b5d70 ;color: #ffffff"></th>
                                  <th style="background-color:#3b5d70 ;color: #ffffff">Order ID</th>
                                </tr> 
                                <tr>
                                  <th style="background-color:#3b5d70 ;color: #ffffff"><%= orderData.deliveryDate ? orderData.deliveryDate.toLocaleDateString('en-US', { day: 'numeric', month: 'short', year: 'numeric' }) : '' %></th>
                                  <th style="background-color:#3b5d70 ;color: #ffffff">₹ <%=orderData.amount%></th>
                                  <th style="background-color:#3b5d70 ;color: #ffffff"><%=orderData.orderStatus%></th>
                                  <th style="background-color:#3b5d70 ;color: #ffffff"></th>
                                  <th style="background-color:#3b5d70 ;color: #ffffff">#<%=orderData.orderId%></th>
                                </tr> 
                              
                              </thead>

                            </table>
                            <table class="table1 mt-5">
                             
                                <div class="container" style="background-color: rgb(250, 248, 248);">
                                  <div class="row">
                                    <div class="col-12" >
                                      <div class="userOrderTop">
                                        <p class="orderP order-status" style="font-size: medium; font-weight: bold;" id="orderSt"></p>
                                        <p class="orderP">Deliver : Xpress Courier </p>                                         
                                      </div>
                                      <div class="userOrderBottom  " >
                                       <div class="container">
                                        <div class="row">
                                          <% orderData.productItem.forEach((product, index) => { %>
                                            <div class="col-3 bg-body-secondary mb-2" style="align-content:center">
                                                <img src="../images/adminpage/<%= product.productImage[0] %>" width="100px" height="100px" alt="">
                                            </div>
                                            <div class="col-9 bg-body-secondary mb-2" style="text-align: left;">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-3">
                                                            <p class="productListOrderAdmin" style="color: #3b5d70;font-size: large; font-weight: bold; "><%= product.productName %></p>
                                                            <p class="productListOrderAdmin" style="font-size: small;">₹ <%= orderData.productPrice[index] %> </p>
                                                            <p class="productListOrderAdmin" style="font-size: small;">Quantity : <%= orderData.productQuantity[index] %> </p>
                                                            <p class="productListOrderAdmin" style="font-size: small;">Status : <%= orderData.productStatus[index] %> </p>
                                                        </div>
                                                        <div class="col-6 orderItem-TotalPrice">
                                                          <p class="productListOrderAdmin" style="font-size: large;">Total Amount :₹ <%= orderData.productPrice[index]*orderData.productQuantity[index] %> </p>
                                                        </div>
                                                        <div class="col-3" style="display: flex; flex-direction: column; justify-content: center;">
                                                          <button type="button" class="btn btn-success  edit-productStatus" style="--bs-btn-padding-y: .25rem;--bs-btn-font-size: .75rem; margin-bottom: 3px; width: 110px;"
                                                          data-productTrack-id="<%=product._id %>" data-orderTrack-id="<%= orderData._id %>" data-product-status="<%= orderData.productStatus[index] %>" id="statusBtn" data-name="homy">
                                                            Edit Status 
                                                        </button>
                                                        <button type="button" class="btn btn-warning   return-productStatus" style="--bs-btn-padding-y: .25rem;--bs-btn-font-size: .75rem; margin-bottom: 3px; width: 110px;"
                                                          data-productTrack-id="<%=product._id %>" data-orderTrack-id="<%= orderData._id %>" data-product-status="<%= orderData.productStatus[index] %>" id="returnBtn">
                                                            Return Status 
                                                        </button>

                                                        
                                                            <button type="button" class="btn btn-danger cancel-productItem " style="--bs-btn-padding-y: .25rem;--bs-btn-font-size: .75rem; margin-bottom: 3px; width: 110px;"
                                                                    id="cancelOrderItem" data-productCancel-id="<%=product._id %>" data-orderCancel-id="<%= orderData._id %>" data-product-status="<%= orderData.productStatus[index] %>" >
                                                             Cancel Order
                                                          </button>
                                                          <button type="button" class="btn btn-danger cancellled-statusBtn " style="--bs-btn-padding-y: .25rem;--bs-btn-font-size: .75rem; margin-bottom: 3px; width: 110px;"
                                                          id="cancelledOrderItem"  data-product-status="<%= orderData.productStatus[index] %>"  data-productCancel-id="<%=product._id %>">
                                                              Cancelled
                                                            </button>
                                                            <button type="button" class="btn btn-success  refund-Btn " style="--bs-btn-padding-y: .25rem;--bs-btn-font-size: .75rem; margin-bottom: 3px; width: 110px;"
                                                            id="orderRefundBtn"  data-product-status="<%= orderData.productStatus[index] %>" data-refundOrder-id="<%= orderData._id %>"  data-productRefund-id="<%=product._id %>">
                                                                Re-Fund
                                                              </button>
                                                              <button type="button" class="btn btn-primary  complete-Btn " style="--bs-btn-padding-y: .25rem;--bs-btn-font-size: .75rem; margin-bottom: 3px; width: 110px;"
                                                            id="orderCompleteBtn"  data-product-status="<%= orderData.productStatus[index] %>" data-refundOrder-id="<%= orderData._id %>"  data-productRefund-id="<%=product._id %>">
                                                                Completed
                                                              </button>
                                                       
                                                        
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        <% }) %>
                                        

                                        
                                        </div>
                                       </div>

                                      </div>
                                     
                                    </div>
                                   
                                  
                                      

                                    </div>
                                  </div>
                                </div>
                            
                            </table>
                          </div>
                            <%
                        
                        }
                        %>


                      </div>
                  </div>
               




                </section>
                  <!-- section end -->
              </div>
            </div>
            <!-- right end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
    
</section>




<!-- modal order status start -->

<div class="modal fade" id="orderStatus" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">

      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Order Status</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="hidden" id="modalProductId" value="">
        <input type="hidden" id="modalOrderId" value="">

        <div class="form-check form-check-inline me-2">
          <input class="form-check-input" type="radio" name="orderStatus" id="Pending" value="Pending">
          <label class="form-check-label" for="Pending">Pending</label>
        </div>
        . <br>
        . <br>
        <div class="form-check form-check-inline me-2">
          <input class="form-check-input" type="radio" name="orderStatus" id="Dispatch" value="Dispatch">
          <label class="form-check-label" for="Dispatch">Dispatch</label>
        </div>
        . <br>
        . <br>
        <div class="form-check form-check-inline me-2">
          <input class="form-check-input" type="radio" name="orderStatus" id="Shipped" value="Shipped">
          <label class="form-check-label" for="Shipped">Shipped</label>
        </div>
        . <br>
        . <br>
        <div class="form-check form-check-inline me-2">
          <input class="form-check-input" type="radio" name="orderStatus" id="Delivered" value="Delivered">
          <label class="form-check-label" for="Delivered">Delivered</label>
        </div>
        
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="statusUpdateBtn" data-bs-dismiss="modal">Update</button>
      </div>
    </div>
  </div>
</div>

<!-- modal order status end -->

<!-- modal return status start -->

<div class="modal fade" id="returnStatus" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">

      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Order Status</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="hidden" id="returnProductId" value="">
        <input type="hidden" id="returnOrderId" value="">

        <div class="form-check form-check-inline me-2">
          <input class="form-check-input" type="radio" name="returnStatus" id="retrunPending" value="Return Pending">
          <label class="form-check-label" for="Pending">Return Pending</label>
        </div>
        . <br>
        . <br>
        <div class="form-check form-check-inline me-2">
          <input class="form-check-input" type="radio" name="returnStatus" id="returnDispatch" value="Return Collected">
          <label class="form-check-label" for="Dispatch">Return Collected</label>
        </div>
        . <br>
        . <br>
        <div class="form-check form-check-inline me-2">
          <input class="form-check-input" type="radio" name="returnStatus" id="returnShipped" value="Return Shipped">
          <label class="form-check-label" for="Shipped">Return Shipped</label>
        </div>
        . <br>
        . <br>
        <div class="form-check form-check-inline me-2">
          <input class="form-check-input" type="radio" name="returnStatus" id="returnArrived" value="Return Arrived Warehouse">
          <label class="form-check-label" for="Delivered">Return Arrived Warehouse</label>
        </div>
        
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="statusReturnEditBtn" data-bs-dismiss="modal" >Update</button>
      </div>
    </div>
  </div>
</div>

<!-- modal return status  end -->




<!-- script status button-->
<script>
  const statusBtn=document.querySelectorAll('#statusBtn')

  statusBtn.forEach(statusBtn=>{
  statusBtn.addEventListener('click',()=>{

    const orderStatus=statusBtn.getAttribute('data-product-status')
    const orderId=statusBtn.getAttribute('data-orderTrack-id')
    const productId=statusBtn.getAttribute('data-productTrack-id')
    const name=statusBtn.getAttribute('data-name')
    console.log("orderId is ",orderId);
    console.log("orderStatus is", orderStatus);
    console.log("productId is ", productId);
    console.log("name",name);
    if(document.getElementById('Pending').value===orderStatus)
    {
      console.log("one");
      document.getElementById('Pending').checked=true
    }
    else  if(document.getElementById('Dispatch').value===orderStatus)
    {
      console.log("two");
      document.getElementById('Dispatch').checked=true
    }
    else  if(document.getElementById('Shipped').value===orderStatus)
    {
      console.log("three");
      document.getElementById('Shipped').checked=true
    }
    else  if(document.getElementById('Delivered').value===orderStatus)
    {
      console.log("four");
      document.getElementById('Delivered').checked=true
    }
    console.log("whyno sss");
    console.log(productId);
    console.log(orderId);
    const modalProductId=document.getElementById('modalProductId')
    const modalOrderId=document.getElementById('modalOrderId')
    modalProductId.value=productId
    modalOrderId.value=orderId
    $("#orderStatus").modal("show");
    
  })
})
</script>





<!-- statusUpdateBtn -->
<script>
    const statusUpdateBtn=document.querySelectorAll('#statusUpdateBtn')
    console.log("page started");
    statusUpdateBtn.forEach(statusUpdateBtn=>{
    statusUpdateBtn.addEventListener('click',()=>{
    let currentStatus;
    console.log("started");
    const modalOrderId=document.getElementById('modalOrderId').value
    const modalProductId=document.getElementById('modalProductId').value
    console.log("order id",modalOrderId);
    console.log("product id",modalProductId);
    if(document.getElementById('Pending').checked)
    {
      currentStatus=document.getElementById('Pending').value
    }
    else if(document.getElementById('Dispatch').checked)
    {
      currentStatus=document.getElementById('Dispatch').value
    }
    else if(document.getElementById('Shipped').checked)
    {
      currentStatus=document.getElementById('Shipped').value
    }
    else if(document.getElementById('Delivered').checked)
    {
      currentStatus=document.getElementById('Delivered').value
    }
    console.log("current status", currentStatus);
    if(currentStatus)
    {
      console.log("is it ......>>>>>");
      fetch('/admin/orderItemStatusUpdate',{
        method:'POST',
        headers:{
          "Content-Type":"application/json"
        },
        body:JSON.stringify({orderStatus:currentStatus,orderId:modalOrderId,productId:modalProductId})
      })
      .then((response)=>response.json())
      .then((data)=>{
        console.log(data);
        console.log("sucees update");
   
          window.location.reload()

       
      })
      .catch((error)=>{
        console.log(error);
        console.log("error ");
      })
    }

  })

})

</script>

<!-- order item button  -->
<script>
  document.addEventListener('DOMContentLoaded',()=>{
    console.log(" button hidden/visibility setup status started....>>>");
  const editStatus=document.querySelectorAll('.edit-productStatus')
  const cancelProductItem=document.querySelectorAll('.cancel-productItem')
  const cancelledBtn=document.querySelectorAll('.cancellled-statusBtn')
  const returnStatus=document.querySelectorAll('.return-productStatus')
  const orderRefundBtn=document.querySelectorAll('.refund-Btn')
  const orderCompleteBtn=document.querySelectorAll('.complete-Btn')
  //edit status
  editStatus.forEach(status=>{
    console.log("status laodeed");
      const trackStatus=status.getAttribute('data-product-status')
   
      if(trackStatus==="Cancelled" || trackStatus==="Return Initiated" || trackStatus==="Return Initiated" || trackStatus==="Return Pending" || trackStatus==="Return Collected" || trackStatus==="Return Shipped" || trackStatus==="Return Arrived Warehouse" || trackStatus==="Return Completed" || trackStatus==="Cancel Refund Initiated" || trackStatus==="Delivered-Success")
      {
        status.style.display="none"
      }
    })


  //cancel button status
  cancelProductItem.forEach(cancelBtn=>{
    console.log("status laodeed");
      const cancelStatus=cancelBtn.getAttribute('data-product-status')
     
      if(cancelStatus==="Cancelled" || cancelStatus==="Delivered" || cancelStatus==="Return Initiated" || cancelStatus==="Return Pending" || cancelStatus==="Return Collected" || cancelStatus==="Return Shipped" || cancelStatus==="Return Arrived Warehouse" || cancelStatus==="Return Completed" || cancelStatus==="Cancel Refund Initiated" || cancelStatus==="Delivered-Success")
      {
        cancelBtn.style.display="none"
      }
    })

   
    //cancellled brtn
    cancelledBtn.forEach(cancelBtn=>{
    console.log("status laodeed");
      const cancelledStatus=cancelBtn.getAttribute('data-product-status')
      console.log("track status is ",cancelledStatus);
      if(cancelledStatus==="Cancelled"  )
      {
        console.log("step 1");
        cancelBtn.style.display="block"
      }
      else
      {
        console.log("step 2");
        cancelBtn.style.display="none"
      }
      if(cancelledStatus==="Delivered")
      {
        console.log("step 3");
        cancelBtn.style.display="none"
      }
    })

     //return status btn
     returnStatus.forEach(returnBtn=>{
    console.log("status laodeed");
      const returnBtnStatus=returnBtn.getAttribute('data-product-status')
      console.log("track status is ",returnBtnStatus);
      if(returnBtnStatus==="Return Initiated" || returnBtnStatus==="Return Pending" || returnBtnStatus==="Return Collected" || returnBtnStatus==="Return Shipped"  )
      {
        returnBtn.style.display="block"
      }
      else
      {
        returnBtn.style.display="none"
      }
    })

    //refund btn
    orderRefundBtn.forEach(refundBtn=>{
      const refundStatus=refundBtn.getAttribute('data-product-status')
      if(  refundStatus==="Return Arrived Warehouse" || refundStatus==="Cancel Refund Initiated")
      {
        refundBtn.style.display="block"
      }
      else
      {
        
        refundBtn.style.display="none"
      }
    })

     //Complete btn
     orderCompleteBtn.forEach(completeBtn=>{
      const completeStatus=completeBtn.getAttribute('data-product-status')
      if(completeStatus==="Return Completed" || completeStatus==="Delivered-Success")
      {
        completeBtn.style.display="block"
      }
      else
      {
        
        completeBtn.style.display="none"
      }
    })


  })


  
</script>


<!-- cancel item -->
<script>
  document.addEventListener('DOMContentLoaded',()=>{
    console.log("cancelling started");
    const cancelBtn=document.querySelectorAll('.cancel-productItem')

    cancelBtn.forEach(cancelItem=>{
      const productId=cancelItem.getAttribute('data-productCancel-id')
      const orderId=cancelItem.getAttribute('data-orderCancel-id')
      
      cancelItem.addEventListener('click',(event)=>{
       
          const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
              confirmButton: "btn btn-success",
              cancelButton: "btn btn-danger"
            },
            buttonsStyling: false
          });
          swalWithBootstrapButtons.fire({
            title: "Are you sure?",
            text: "",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Yes, delete it!",
            cancelButtonText: "No, cancel!",
            reverseButtons: true
          }).then((result) => {
            if (result.isConfirmed) {
              fetch('/admin/orderItemCancel',{
                method:"POST",
                headers:{
                  "Content-Type":"application/json"
                },
                body:JSON.stringify({orderId:orderId,productId:productId})
              })
              .then((response)=>response.json())
              .then((data)=>{
                console.log("sucess data",data);
              })
              .catch((error)=>{
                console.log("error",error);
              })
              swalWithBootstrapButtons.fire({
                title: "Cancelled!",
                text: "",
                icon: "success"
              })
              .finally(()=>{
                location.href=`/admin/orderItems?orderId=${orderId}`
              })
            } else if (
            
              result.dismiss === Swal.DismissReason.cancel
            ) {
              Swal.fire({
                  title: "Not Cancelled",
                  html: "",
                  timer: 400,
                  timerProgressBar: true,
                  didOpen: () => {
                    Swal.showLoading();
                    const timer = Swal.getPopup().querySelector("b");
                    timerInterval = setInterval(() => {
                      timer.textContent = `${Swal.getTimerLeft()}`;
                    }, 100);
                  },
                  willClose: () => {
                    clearInterval(timerInterval);
                  }
                })
            }
          });
      })
    })
  })
</script>

<!-- return status showing -->



<!-- return product  -->
<script>
  document.addEventListener('DOMContentLoaded',()=>{
    console.log("return started @@@@@@@");



    const retrunBtn=document.querySelectorAll('.return-productStatus')

    retrunBtn.forEach(returns=>{
      console.log("returned>>>>>>>");
      const productId=returns.getAttribute('data-productTrack-id')
      const orderId=returns.getAttribute('data-orderTrack-id')
      const orderStatus=returns.getAttribute('data-product-status')

      returns.addEventListener('click',()=>{
  
    
        console.log("orderId is ",orderId);
        console.log("orderStatus is", orderStatus);
        console.log("productId is ", productId);
     
        if(document.getElementById('retrunPending').value===orderStatus)
        {
          console.log("one");
          document.getElementById('retrunPending').checked=true
        }
        else  if(document.getElementById('returnDispatch').value===orderStatus)
        {
          console.log("two");
          document.getElementById('returnDispatch').checked=true
        }
        else  if(document.getElementById('returnShipped').value===orderStatus)
        {
          console.log("three");
          document.getElementById('returnShipped').checked=true
        }
        else  if(document.getElementById('returnArrived').value===orderStatus)
        {
          console.log("four");
          document.getElementById('returnArrived').checked=true
        }else  if(orderStatus==="Return Initiated")
        {
          console.log("five");
          document.getElementById('retrunPending').checked=true
        }

     
      document.getElementById('returnProductId').value=productId
      document.getElementById('returnOrderId').value=orderId
      $("#returnStatus").modal("show")

      })
    
    })

  })
</script>


<!-- retrun status -->
<script>
  document.addEventListener('DOMContentLoaded',()=>{
    const retrunConfirmBtn=document.getElementById('statusReturnEditBtn')

    retrunConfirmBtn.addEventListener('click',()=>{
      let returnStatus;
      if(document.getElementById('retrunPending').checked)
      {
        returnStatus=document.getElementById('retrunPending').value
      }
      else if(document.getElementById('returnDispatch').checked)
      {
        returnStatus=document.getElementById('returnDispatch').value
      }
      else if(document.getElementById('returnShipped').checked)
      {
        console.log("yes");
        returnStatus=document.getElementById('returnShipped').value
      }
      else if(document.getElementById('returnArrived').checked)
      {
        returnStatus=document.getElementById('returnArrived').value
      }
      console.log("the return status is ",returnStatus);
      const orderId=document.getElementById('returnOrderId').value
    const productId=document.getElementById('returnProductId').value
    console.log("order id",orderId);
    console.log("product id",productId);
    const returnData={
      orderId:orderId,
      productId:productId,
      returnStatus:returnStatus
    }
    fetch('/admin/returnStatusUpdate',{
      method:"POST",
      headers:{
        "Content-Type":"application/json"
      },
      body:JSON.stringify(returnData)
    })
    .then((response)=>response.json())
    .then((data)=>{
      console.log("success is now return status");
      console.log(data);
      window.location.reload()
    })
    .catch((error)=>{
      console.log(error);
    })
    })
   
    
  })

</script>





<!-- razorpay library-->
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<!-- refund razorpay step 1 -->
    
<script>
  const refundBtn=document.querySelectorAll('.refund-Btn')
  refundBtn.forEach(refunds=>{
    refunds.addEventListener('click',()=>{
      const orderId=refunds.getAttribute('data-refundOrder-id')
      const productId=refunds.getAttribute('data-productRefund-id')
      const productStatus=refunds.getAttribute('data-product-status')
      console.log("orderId ",orderId);
      console.log("prodcut Id",productId);
      console.log("status ",productStatus);
      const refundData={
        orderId:orderId,
        productId:productId,
        productStatus:productStatus
      }
      fetch('/admin/refundWallet',{
        method:'POST',
        headers:{
          "Content-Type":"application/json"
        },
        body:JSON.stringify(refundData)
      })
      .then((response)=>response.json())
      .then((data)=>{
        console.log(data);
        if(data[1]==="onlinePayment")
          {
            if(data[0]===true)
            {
              console.log("online paymentt retrun orderId successfuly");
              const order=data[2]
              console.log(" order is....",order);
              razorpayPayment(order);
              console.log("1st funtion last line");
            }
            else
            {
              console.log("online error");
            }
          }
      })
      .catch((error)=>{
        console.log(error);
      })
    })
  })


function razorpayPayment(order)
{
  console.log("razor pay first funtion called..");
  console.log(typeof(order.amount));
  var options = {
    "key": "rzp_test_HMZrUgnBYupd2b", 
    "amount": order.amount, 
    "currency": "INR",
    "name": "Homy Furnitures",
    "description": `Order ID :${order.receipt} `,
    "image": "https://example.com/your_logo",
    "order_id": order.id, 
    "handler": function (response){
        // alert(response.razorpay_payment_id);
        // alert(response.razorpay_order_id);
        // alert(response.razorpay_signature)
        verifyPayment(response,order)
    },
    "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9000090000"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp = new Razorpay(options);

  rzp.open();
}

function verifyPayment(payment,order)
{
  console.log("2nd funtion listeningg....");
  console.log("payment",payment);
  console.log("order",order);
  $.ajax({
    url:'/admin/verifyRefundPayment',
    data:{
      payment,
      order
    },
    method:'POST',
    success:function(data){
      console.log("success data is ",data);
      if(data[1]==="onlinePayment")
      {
        if(data[0])
      {
        Swal.fire({
            title: "Order Done Successfully",
            icon: "success"
          })
          .then(() => {
            window.location.reload()
            });
      }
      else
      {
        Swal.fire({
            title: "Order Failed",
            icon: "error"
          })
          .then(() => {
            window.location.reload()
            });

      }

      }
    },
    error:function(error){
      console.error("error occured while making ajax",error)
    }
  })
  console.log("2nd function end....");
}

</script>
<%- include('../layout/admin/footer')%>