<%- include('../layout/admin/header') %>

<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <!-- Left Side - Images -->
            <div class="d-flex align-items-center"> <!-- Added align-items-center class -->
                <div class="headOne">
                    <a class="navbar-brand" href="#">
                        <img src="./images/adminpage/Homy-logos_transparent.png" alt="Logo" width="120"  height="100" class="d-inline-block align-text-top">
                    </a>
                </div>
                <div class="headTwo mx-auto d-flex justify-content-center align-items-center w-100"> <!-- Added w-100 class for 100% width -->
                    <a class="navbar-brand" href="#">
                        <img src="./images/adminpage/homy.png" style="margin-left: 400px" alt="Logo" width="180" height="100" class="d-inline-block align-text-top">
                    </a>
                </div>
            </div>
        </div>

    </nav>
    <nav class="navbar bg-body-warning fixed-top-10px">
        <div class="container mt-2 mb-2">
          <!-- <a class="navbar-brand" href="#">Offcanvas navbar</a> -->
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h3 class="offcanvas-title mt-3 " id="offcanvasNavbarLabel">Homy Admin Panel</h3>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body m-3 ">
                <form class="d-flex mt-3" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                  </form>
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 mt-5 ">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/admin/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/allOrders">All Orders</a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/allUsers">Users</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/allProducts">Products</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/allCategory">Categories</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/allOffers">Offers</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/allCoupons">Coupons</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/alBanners">Banners</a>
                  </li>
                  
              </ul>
              
            </div>
          </div>
          <div class="custom-background d-flex justify-content-between align-items-center">
            <div class="navOne">
              <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item    mt-3 ms-3 "><a href="/admin/dashboard" class="text-light">Dashboard</a></li>
                  <li class="breadcrumb-item    mt-3 ms-3 "><a href="/admin/salesReport" class="text-light">Sales Report</a></li>
                </ol>
              </nav>
            </div>
            <div class="navTwo d-flex align-items-center">
                <span class="me-3 text-light">Hi, Sreekuttan</span> 
                <form action="/admin/logout"  method="post">
                  <input type="submit" class="btn mt-2 text-light mb-2 " value="Logout">
              </form>
            </div>
        </div>
        </div>
      </nav>
    
</header>

  <section>
    <div class="container reportMain">
      <div class="row">
        <div class="col-12 d-flex  justify-content-center ">
          <h3>Sales Report</h3>
        </div>
        
        <div class="col-lg-3">
          <button type="button" class="btn btn-success  revenueCatBtn"><nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/admin/dailySalesReport" class="reportlink">Day</a></li>
              <li class="breadcrumb-item"><a href="/admin/weeklySalesReport" class="reportlink">Weekly</a></li>
              <li class="breadcrumb-item"><a href="/admin/monthlySalesReport" class="reportlink">Monthly</a></li>
            </ol>
          </nav></button>
        </div>
        <div class="col-lg-6 d-flex ">
          <div class="input-group reportDate me-2" style="width: 300px;">
            <span class="input-group-text ">From Date</span>
            <input type="date" id="fromDate" class="form-control">
          </div>
          <div class="input-group reportDate me-2" style="width: 250px;">
            <span class="input-group-text">To Date</span>
            <input type="date" id="toDate" class="form-control">
          </div>
          <button class="btn btn-primary " id="saleDateFilterBtn">Filter</button>
        </div>
        <div class="col-lg-3 d-flex justify-content-between  ">
          
          <button type="button" class="btn btn-warning revenueShowBtn" ><h1 class="text-primary">Total Revenue: <span class="text-dark">₹ <%=totalRevenue[0].total%></span></h1></button>
          
        </div>
      </div>

      <div class="row">
        
        <div class="col-12">
          <input type="hidden" name="" id="pageValue" value="<%=page%>">
          <%if(page==="main")
          {%>
            <div class="pageTrue" id="pageMain">
          <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead class="table-dark  ">
                <tr>
                    <th >SI No</th>
                    <th>Date</th>
                    <th>OrderId</th>
                    <th>Total Revenue</th>
                </tr>
            </thead>
            <tbody>
              <%if(allOrders.length>0)
              {
                for(let i=0;i<allOrders.length;i++)
                {%>
                <tr>
                    <td><%=i+1%></td>
                    <td><%= allOrders[i].orderDate.toLocaleString('en-IN', { day: '2-digit', month: '2-digit', year: 'numeric'}) %></td>
                    <td><%=allOrders[i].orderId%></td>
                    <td>₹ <%=allOrders[i].amount%></td>
                </tr>
               <%
              }
            }%>    
            </tbody>
        </table>
      </div>
        <%} else if(page==="daily"){%>
          <div class="pageFalse" id="pageDaily">
          <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead class="table-dark  ">
                <tr>
                    <th >SI No</th>
                    <th>Date</th>
                    <th>Total Revenue</th>
                </tr>
            </thead>
            <tbody>
              <% if (dailySales.length > 0) { %>
                  <% dailySales.forEach(function(sale, index) { %>
                      <tr>
                          <td><%= index + 1 %></td>
                          <td><%= sale.date %></td>
                          <td>₹ <%= sale.amount %></td>
                      </tr>
                  <% }); %>
              <% } else { %>
                  <tr>
                      <td colspan="3">No sales data available</td>
                  </tr>
              <% } %>
          </tbody>
          
        </table>
      </div>
      <%} else if(page==="weekly"){%>
        <div class="pageWeekly" id="pageWeekly">
        <table id="example" class="table table-striped table-bordered" style="width:100%">
          <thead class="table-dark  ">
              <tr>
                  <th >SI No</th>
                  <th>Week Start Date</th>
                  <th>Week End Date</th>
                  <th>Total Revenue</th>
              </tr>
          </thead>
          <tbody>
            <% if (dailySales.length > 0) { %>
                <% dailySales.forEach(function(sale, index) { %>
                    <tr>
                        <td><%= index + 1 %></td>
                        <td><%= sale.startDate %></td>
                        <td><%= sale.endDate %></td>
                        <td>₹ <%= sale.totalAmount %></td>
                    </tr>
                <% }); %>
            <% } else { %>
                <tr>
                    <td colspan="3">No sales data available</td>
                </tr>
            <% } %>
        </tbody>
        
      </table>
    </div>
    <%} else if(page==="monthly"){%>
      <div class="pageMonthly" id="pageMonthly">
      <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead class="table-dark  ">
            <tr>
                <th >SI No</th>
                <th>Month</th>
                <th>Total Revenue</th>
            </tr>
        </thead>
        <tbody>
          <% if (monthlySales.length > 0) { %>
              <% monthlySales.forEach(function(sale, index) { %>
                  <tr>
                      <td><%= index + 1 %></td>
                      <td><%= sale.month %></td>
                      <td>₹ <%= sale.totalAmount %></td>
                  </tr>
              <% }); %>
          <% } else { %>
              <tr>
                  <td colspan="3">No sales data available</td>
              </tr>
          <% } %>
      </tbody>
      
    </table>
  </div>
    <%}%>
          
        </div>
          
      </div>
    </div>
  </section>

  <script>
   
  //    $(document).ready(function() {
  //   $('#example').DataTable({
      
  //     columnDefs: [
  //       { width: '15%', targets: 0 },
  //       { width: '15%', targets: 1 },
  //       { width: '20%', targets: 2 }, 
  //       { width: '20%', targets: 3 }, 
     
       
  //     ],
  //     // Other DataTables options
  //   });
  // });
  new DataTable('#example', {
    layout: {
        topStart: {
            buttons: ['copy', 'excel', 'pdf', 'print']
        }
    }
});
  </script>


<script>
  const saleDateFilterBtn=document.getElementById('saleDateFilterBtn')

  saleDateFilterBtn.addEventListener('click',()=>{
    const fromDate=document.getElementById('fromDate').value
    const toDate=document.getElementById('toDate').value
    fetch('/admin/salesDateFilter',{
      method:'POST',
      headers:{
        "Content-Type":"application/json"
      },
      body:JSON.stringify({fromDate:fromDate,toDate:toDate})
    })


    
    .then((response)=>response.json())
    .then((data)=>{
      console.log(data);
      console.log("sucess filter");
      window.location.reload()
    })
    .catch((error)=>{
      console.log(error);
    })
  })
</script>


<script>
  document.addEventListener("DOMContentLoaded",()=>{
    if(document.getElementById('pageValue').value==='main')
    {
      document.getElementById('pageDaily').style.display="none"
      document.getElementById('pageWeekly').style.display="none"
      document.getElementById('pageMonthly').style.display="none"

    }
    else if(document.getElementById('pageValue').value==="daily")
    {
      document.getElementById('pageMain').style.display="none"
      document.getElementById('pageWeekly').style.display="none"
      document.getElementById('pageMonthly').style.display="none"
    }
    else if(document.getElementById('pageValue').value==="weekly")
    {
      document.getElementById('pageMain').style.display="none"
      document.getElementById('pageDaily').style.display="none"
      document.getElementById('pageMonthly').style.display="none"
    }
    else if(document.getElementById('pageValue').value==="monthly")
    {
      document.getElementById('pageMain').style.display="none"
      document.getElementById('pageDaily').style.display="none"
      document.getElementById('pageWeekly').style.display="none"
    }
  })
</script>



<%- include('../layout/admin/footer') %></div>