<%- include('../layout/user/header')%>

<link rel="stylesheet" href="/home/styles/home/homeStyle.css">
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <!-- Left Side - Images -->
            <div class="d-flex">
                <a class="navbar-brand" href="#">
                    <img src="./images/userpage/Homy-logos_transparent.png" alt="Logo" width="90" height="60" class="d-inline-block align-text-top">
                </a>
                <a class="navbar-brand" href="#">
                    <img src="./images/userpage/homy.png" alt="Logo" width="120" height="60" class="d-inline-block align-text-top">
                </a>
            </div>

            <!-- Center - Navigation Links -->
            <div class="d-flex justify-content-center">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link active" aria-current="page" href="/category">Collections</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Projects</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Contact</a>
                            </li>
                           
                        </ul>
                    </div>
                </div>
            </div>


            <div class="d-flex ml-auto">
               
                <input type="text" class="form-control m-3" placeholder="Search">
                <%if(locals.loginStatus===false)
                {%>
                  <a href="/login" class="nav-link m-3 ">Login</a>
                  
                  <%} else {%>
                
                    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                        <ul class="navbar-nav">
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Hi, <%= userId.name %>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-light dropdown-menu-lg-end" aria-labelledby="navbarDropdownMenuLink">
                              <a href="/userProfile"><li><button class="dropdown-item" id="userProfile" >Profile</button></li></a>
                              <a href="/userOrders"><li><button class="dropdown-item" id="userOrder" >Orders</button></li></a>
                              <a href="/userAddress"><li><button class="dropdown-item" id="userAddress" >Address</button></li></a>
                              <li><hr class="dropdown-divider"></li>
                              <li><button class="dropdown-item" id="userLogout" data-user-userId="<%= userId._id %>">Logout</button></li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    <%}%>
                
                    <a href="/userWishlist" class="nav-link m-3" ><i class="fa-regular fa-heart fa-lg" style="color: #31415e;"></i></a>
                    <a href="/userCart" class="nav-link m-3 "><i class="fa-solid fa-cart-arrow-down"></i></a>
            </div>
        </div>
    </nav>
</header>




<section class="account-settings">
    <div class="container">
      <div class="row">
        <div class="mainBody">
          <div class="container">
            <div class="row">
                <!-- left -->
              <div class="col-md-3  ">
                <div class="innerLeft ">
                    <div class="container">
                        <div class="row">
                            <div class="leftOne mb-5">
                                <h4>Hi, <%= userId.name %></h4>
                              </div>
                              <hr style="height: 2px; background-color: #ffffff; border: none; width: 250px; margin-left: 25px;">
                              <div class="leftTwo ">
                                <ul class="account-nav">
                                    <li><a href="/userProfile">My Account</a></li>
                                    <li><a href="/userOrders">My Orders</a></li>
                                    <li><a href="/userWishlist">My Wishlist</a></li>
                                    <li><a href="#">My Address</a></li>
                                    <li><a href="/resetPassword">Change Password</a></li>
                                    <li><a href="/userWallet">Wallet</a></li>
                                    <li><a href="/referals">My Referrals</a></li>
                                </ul>
                              </div>
    
                        </div>
                    </div>
                </div>
                
              </div>
              <!-- left end -->

              <!-- right -->
              <div class="col-md-9 ">
                <div class="innerRight bg-light-tertiary p-4 mt-0">
                  <h2>Add Address</h2>
                  
                  <!-- section starting -->
                  <section>
                    <form action="">
                    <div class="container  ">
                        <div class="row">

                      <table>
                        <tr>
                            <td> <div class="form-floating mb-3">
                                <input type="text" class="form-control"   id="userName" name="UserName">
                                <label for="floatingInput">Name </label>
                              </div></td>
                            <td> <div class="form-floating mb-3">
                                <input type="number" class="form-control"   id="userMobile">
                                <label for="floatingInput">Mobile</label>
                              </div></td>
                              <tr>
                                <td> <div class="form-floating mb-3">
                                    <input type="number" class="form-control"   id="userPincode">
                                    <label for="floatingInput">Pincode</label>
                                  </div></td>
                                <td> <div class="form-floating mb-3">
                                    <input type="text" class="form-control"   id="userLocality">
                                    <label for="floatingInput">Locality</label>
                                  </div></td>
                            </tr>
                        </tr>
                    </table>
                    <table>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control"  id="address">
                        <label for="floatingInput">Flat / House no. / Area / Street</label>

                      </div>
                    </table>
                    <table>
                        <tr>
                            <td> <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="userCity">
                                <label for="floatingInput">City /District / Town</label>
                              </div></td>
                            <td> <div class="form-floating mb-3">
                                <input type="text" class="form-control"  id="userState">
                                <label for="floatingInput">State</label>
                              </div></td>
                        </tr>
                        <tr>
                            <td> <div class="form-floating mb-3">
                                <input type="text" class="form-control"   id="userLandmark">
                                <label for="floatingInput">Landmark(Optional)</label>
                              </div></td>
                            <td> <div class="form-floating mb-3">
                                <input type="number" class="form-control"  id="userAltMobile">
                                <label for="floatingInput">Alternative Phone(Optional)</label>
                              </div></td>
                        </tr>
                       
                        <tr>
                            <td><label for="">Address Type</label>
                                <div class="form-check form-check-inline ms-3">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" value="Home" id="addressTypeHome">
                                    <label class="form-check-label" for="inlineRadio1">Home</label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"  value="Office" id="addressTypeOffice">
                                    <label class="form-check-label" for="inlineRadio2">Office</label>
                                  </div>
                                </td>
                                 
                               
                             
                        </tr>
                      </table>
                      <div class="conatainer">
                        <div class="row">
                          <div class="col-6">
                          <a href="/userAddress"><button type="button" class="btn btn-light  mb-3 mt-3 w-25 border-primary border-3   ">Cancel</button></a>
                          </div>
                          <col class="6">
                            <button type="button" class="btn btn-primary mb-3 mt-3 " style="width: 120px;" id="addressSaveBtn">Save</button>
                        </div>
                      </div>
                      

                        </div>
                    </div>
                  </form>
                 
                   



                  </section>
                    <!-- section end -->
                </div>
              </div>
              <!-- right end -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  




<!-- user logout -->

<script>
  document.getElementById('userLogout')
  .addEventListener('click',()=>{
   
    fetch('/logout',{
      method:'POST',
      headers: {
          "Content-Type": "application/json",
        },
    })
    .then((response) => response.json())
      .then((data) => {
        console.log(data)
        Swal.fire({
          title: "Logout Successfully !",
          icon: "success"
        })
        .then(() => {
          window.location.href = '/';
          });
      })
      .catch((error)=>{
        console.log(error)
      })

  })
</script>

<!-- sctipt address save -->
<script>
//  document.addEventListener('DOMContentLoaded', function () {
  const addressSaveBtn=document.getElementById('addressSaveBtn')
console.log("address add start");
  addressSaveBtn.addEventListener('click',()=>{
    console.log("address clicked");
   let addressType;
    if(document.getElementById('addressTypeHome').checked)
   {
    addressType=document.getElementById('addressTypeHome').value
   }
   else if(document.getElementById('addressTypeOffice').checked)
   {
    addressType=document.getElementById('addressTypeOffice').value
   }
    
    const UserAddress={
        userName:document.getElementById('userName').value,
        userMobile:document.getElementById('userMobile').value,
        userPincode:document.getElementById('userPincode').value,
        userLocality:document.getElementById('userLocality').value,
        userAddress:document.getElementById('address').value,
        userCity:document.getElementById('userCity').value,
        userState:document.getElementById('userState').value,
        userLandmark:document.getElementById('userLandmark').value,
        userAltMobile:document.getElementById('userAltMobile').value,
        addressType:addressType
        
    }
  
   console.log(UserAddress);
   fetch('/addAddress',{
    method:'POST',
    headers:{
      "Content-Type":"application/json"
    },
    body: JSON.stringify(UserAddress)
   })
   .then((response)=>response.json())
   .then((data)=>{
    console.log(data);
    if(data[0])
    {
      console.log("success save");
      console.log(data);
      window.location.href='/userAddress'
    }
    else
    {
      console.log("failed save");
      window.location.href='/addAddress'
    }
   
   })
   .catch((error)=>{
    console.log(error);
    console.log("error failed");
   })
    
  })
//  })
</script>




<%- include('../layout/user/footer')%>