
<%- include('../layout/user/header')%>
<link rel="stylesheet" href="/styles/home/homeStyle.css">
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <!-- Left Side - Images -->
            <div class="d-flex">
                <a class="navbar-brand" href="#">
                    <img src="../images/userpage/Homy-logos_transparent.png" alt="Logo" width="90" height="60" class="d-inline-block align-text-top">
                </a>
                <a class="navbar-brand" href="#">
                    <img src="../images/userpage/homy.png" alt="Logo" width="120" height="60" class="d-inline-block align-text-top">
                </a>
            </div>

            <!-- Center - Navigation Links -->
            <div class="d-flex justify-content-center">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link active" aria-current="page" href="/category">Collections</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Projects</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Contact</a>
                            </li>
                           
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Right Side - Search, Login, Wishlist, Cart -->
            <div class="d-flex ml-auto">
                <!-- Add your search bar, login, wishlist, and cart links here -->
                <!-- Example: -->
                <input type="text" class="form-control m-3" placeholder="Search">
                <%if(loginStatus===false)
                {%>
                  <a href="/login" class="nav-link m-3 ">Login</a>
                  
                  <%} else {%>
                  
                    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                        <ul class="navbar-nav">
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Hi, <%= userId.name %>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-light dropdown-menu-lg-end" aria-labelledby="navbarDropdownMenuLink">
                              <a href="/userProfile"><li><button class="dropdown-item" id="userProfile" >Profile</button></li></a>
                              <a href="/userOrders"><li><button class="dropdown-item" id="userOrder" >Orders</button></li></a>
                              <a href="/userAddress"><li><button class="dropdown-item" id="userAddress" >Address</button></li></a>
                              <li><hr class="dropdown-divider"></li>
                              <li><button class="dropdown-item" id="userLogout" data-user-userId="<%= userId._id %>">Logout</button></li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    
                    <%}%>
                
                    <a href="/userWishlist" class="nav-link m-3" ><i class="fa-regular fa-heart fa-lg" style="color: #31415e;"></i></a>
                    <a href="/userCart" class="nav-link m-3 "><i class="fa-solid fa-cart-arrow-down"></i></a>
            </div>
        </div>
    </nav>
</header>


<section>

    <div class="container">
        <div class="row">
            <div class="col-8    ">
                <div class="leftouter">
                <div class="container">
                  <div class="row">
                    <div class="col-8">
                        <div id="img-container">
                          <div class="zoomable-Image">
                            <img src="" class="mainImage drift-demo" alt="" id="featured" style="width: 600px;height: 600px;">
                          </div>
                        </div>
                        

                        
                    </div>
                    <div class="col-4">
                        <div class="innerRight" >
                            <div class="one" >
                                <img src="../images/adminpage/<%= products.productImage[0] %>" width="100px" alt="" class="innerRightImage" id="firstImage" onclick="changeMainImage(this)">
                            </div>
                            <div class="two" >
                                <img src="../images/adminpage/<%= products.productImage[1] %>" width="100px" alt="" class="innerRightImage" id="secondImage" onclick="changeMainImage(this)">
                            </div>
                            <div class="three" >
                                <img src="../images/adminpage/<%= products.productImage[2] %>" width="100px" alt="" class="innerRightImage" id="thirdImage" onclick="changeMainImage(this)">
                            </div>
                        </div>
                    </div>
                   

                </div>
                
              
               
                </div>
            </div>
            </div>
            <div class="col-md-4 col-sm-6 d-flex align-items-center justify-content-center">
                <div class="card border-0 shadow-sm rounded-3 text-center">
                 
                  <div class="card-body">
                    <h1 class="card-title mb-2">Chair</h1>
                    <h5 class="card-text mb-0">₹4000</h4>
                    <ul class="list-group list-group-flush mt-3">
                      <li class="list-group-item border-0 ps-0"><i class="fa fa-tag me-2 text-muted"></i>Category: Furniture</li>
                      <li class="list-group-item border-0 ps-0"><i class="fa fa-check-circle me-2 text-success"></i>In Stock</li>
                    </ul>
                    <p class="card-text mt-3 mb-4">
                      A comfortable and stylish chair that blends perfectly with any decor.
                    </p>
                    <div class="d-flex justify-content-center">
                      <!-- <button class="btn btn-primary px-4 rounded-pill mx-2">BUY NOW</button> -->
                      <button class="btn btn-outline-primary px-4 rounded-pill" id="addToCart" data-productId="<%=products._id%>">ADD TO CART</button>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="review">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th colspan="2" class="text-center">
                  <h5>Reviews and Ratings</h5>
                </th>
              </tr>
            </thead>
            <tbody>
              <% if(products.productRating.rating.length > 0) {
                for(let i = 0; i < products.productRating.rating.length; i++) { %>
                  <tr>
                    <td>
                      <div class="productReviews d-flex align-items-center">
                        <button type="button" class="btn btn-success btn-sm me-2 p-0" style="width: 35px;"><%= products.productRating.rating[i] %><i class="fa-regular fa-star ms-1"></i></button>
                        <p class="mb-0"><%= products.productRating.review[i] %></p>
                      </div>
                      <div class="userRatingName d-flex justify-content-start">
                        <p class="mb-0" style="font-size: small;"><%= products.productRating.userName[i] %></p>
                      </div>
                    </td>
                  </tr>
                <% }
              } %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
  </div>
</section>


<script src="https://cdn.jsdelivr.net/npm/medium-zoom@1.0.6/dist/medium-zoom.min.js"></script>

<!-- user logout -->
<script>
  document.getElementById('userLogout')
  .addEventListener('click',()=>{
   
    fetch('/logout',{
      method:'POST',
      headers: {
          "Content-Type": "application/json",
        },
    })
    .then((response) => response.json())
      .then((data) => {
        console.log(data)
        Swal.fire({
          title: "Logout Successfully !",
          icon: "success"
        })
        .then(() => {
          window.location.href = '/';
          });
      })
      .catch((error)=>{
        console.log(error)
      })
  })
</script>

<script src="https://unpkg.com/drift-zoom/dist/Drift.min.js"></script>

<script src="https://unpkg.com/js-image-zoom@0.7.0/js-image-zoom.js" type="application/javascript"></script>


<script>
    document.addEventListener('DOMContentLoaded', function () {
      const driftDemoTriggers = document.querySelectorAll('.innerRightImage');
      // const imgContainer = document.getElementById('img-container');
      const featuredImage = document.getElementById('featured');

      // Set the initial image to be displayed
      const firstImage = document.getElementById('firstImage');
      featuredImage.src = firstImage.src;

      // Initialize Drift.js for each thumbnail image
      driftDemoTriggers.forEach(function (trigger) {
          trigger.addEventListener('mouseover', function () {
              const zoomImageSrc = this.src;
              featuredImage.src = zoomImageSrc;
              // Destroy any existing Drift instance
              if (imgContainer.driftInstance) {
                  imgContainer.driftInstance.destroy();
              }  
          });
      });

      new Drift(featuredImage, {
                  paneContainer: imgContainer,
                  inlinePane: 769,
                  inlineOffsetY: -85,
                  containInline: true,
                  hoverBoundingBox: true
              });
  });
</script>

 <style>
  .zoomable-Image {
      transition: transform 0.3s ease-in-out;
  }

  .zoomable-Image:hover {
      transform: scale(1.2);
  }
</style> 

<script>
const zoomableImages = document.querySelectorAll('.zoomable-Image');

  function zoomImage(event, element) {
  const rect = element.getBoundingClientRect();
  const x = event.clientX - rect.left;
  const y = event.clientY - rect.top;
  const percentX = (x / rect.width) * 100;
  const percentY = (y / rect.height) * 100;
  element.style.transformOrigin =`${percentX}% ${percentY}%`;
  element.style.transition = 'transform 0.3s ease-in-out';
  element.style.transform = 'scale(2.3)';
}

zoomableImages.forEach(image => {
  image.addEventListener('mousemove', function (event) {
    zoomImage(event, this);
  });

  image.addEventListener('mouseleave', function () {
    this.style.transition = 'transform 0.3s ease-in-out';
    this.style.transform = 'scale(1)';
  });
});
</script>








<!-- add to cart -->
<script>

  const addToCartButtons = document.querySelectorAll('#addToCart');

 
  addToCartButtons.forEach(addToCart => {
    addToCart.addEventListener('click', () => {
      console.log("Clicked on add to cart");
      const productId = addToCart.getAttribute('data-productId');
      console.log(productId);
     
      fetch(`/addToCart`, {
        method: 'POST',
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({ productId: productId })
      })
      .then((response) => response.json())
      .then((data) => {
        console.log(data);
        console.log("Data added");
        if (data[0]) {
          Swal.fire({
              title: "Added To Cart Successfully",
              icon:"success",
              html: "",
              timer: 1000,
              timerProgressBar: true,
              didOpen: () => {
                Swal.showLoading();
                const timer = Swal.getPopup().querySelector("b");
                timerInterval = setInterval(() => {
                  timer.textContent = `${Swal.getTimerLeft()}`;
                }, 100);
              },
              willClose: () => {
                clearInterval(timerInterval);
              }
            })
        } else{
          if(data[1]==="No Stock")
          {
            Swal.fire({
              title: "Sorry ! No Stock",
              html: "",
              timer: 800,
              timerProgressBar: true,
              didOpen: () => {
                Swal.showLoading();
                const timer = Swal.getPopup().querySelector("b");
                timerInterval = setInterval(() => {
                  timer.textContent = `${Swal.getTimerLeft()}`;
                }, 100);
              },
              willClose: () => {
                clearInterval(timerInterval);
              }
            })

          }
          else
          {
            Swal.fire({
              title: "Already Added To Cart",
              html: "",
              timer: 600,
              timerProgressBar: true,
              didOpen: () => {
                Swal.showLoading();
                const timer = Swal.getPopup().querySelector("b");
                timerInterval = setInterval(() => {
                  timer.textContent = `${Swal.getTimerLeft()}`;
                }, 100);
              },
              willClose: () => {
                clearInterval(timerInterval);
              }
            })

          }
        
        }
      })
      .catch((error) => {
        console.log(error);
        console.log("Error data");
      });
    });
  });
</script>


<%- include('../layout/user/footer') %>