<%- include('../layout/user/header')%>

<link rel="stylesheet" href="/home/styles/home/homeStyle.css">
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <!-- Left Side - Images -->
            <div class="d-flex">
                <a class="navbar-brand" href="#">
                    <img src="./images/userpage/Homy-logos_transparent.png" alt="Logo" width="90" height="60" class="d-inline-block align-text-top">
                </a>
                <a class="navbar-brand" href="#">
                    <img src="./images/userpage/homy.png" alt="Logo" width="120" height="60" class="d-inline-block align-text-top">
                </a>
            </div>

            <!-- Center - Navigation Links -->
            <div class="d-flex justify-content-center">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link active" aria-current="page" href="/category">Collections</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Projects</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Contact</a>
                            </li>
                           
                        </ul>
                    </div>
                </div>
            </div>


            <div class="d-flex ml-auto">
               
                <input type="text" class="form-control m-3" placeholder="Search">
                <%if(locals.loginStatus===false)
                {%>
                  <a href="/login" class="nav-link m-3 ">Login</a>
                  
                  <%} else {%>
                
                    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                      <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Hi, <%= userId.name %>
                          </a>
                          <ul class="dropdown-menu dropdown-menu-light dropdown-menu-lg-end" aria-labelledby="navbarDropdownMenuLink">
                            <a href="/userProfile"><li><button class="dropdown-item" id="userProfile" >Profile</button></li></a>
                            <a href="/userOrders"><li><button class="dropdown-item" id="userOrder" >Orders</button></li></a>
                            <a href="/userAddress"><li><button class="dropdown-item" id="userAddress" >Address</button></li></a>
                            <li><hr class="dropdown-divider"></li>
                            <li><button class="dropdown-item" id="userLogout" data-user-userId="<%= userId._id %>">Logout</button></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                    
                    <%}%>
                
                    <a href="/userWishlist" class="nav-link m-3" ><i class="fa-regular fa-heart fa-lg" style="color: #31415e;"></i></a>
                    <a href="/userCart" class="nav-link m-3 "><i class="fa-solid fa-cart-arrow-down"></i></a>
            </div>
        </div>
    </nav>
</header>




<section class="account-settings">
    <div class="container">
      <div class="row">
        <div class="mainBody">
          <div class="container">
            <div class="row">
                <!-- left -->
              <div class="col-md-3  ">
                <div class="innerLeft ">
                    <div class="container">
                        <div class="row">
                            <div class="leftOne mb-5">
                                <h4>Hi, <%= userId.name %></h4>
                              </div>
                              <hr style="height: 2px; background-color: #ffffff; border: none; width: 250px; margin-left: 25px;">
                              <div class="leftTwo ">
                                <ul class="account-nav">
                                  <li><a href="#">My Account</a></li>
                                  <li><a href="/userOrders">My Orders</a></li>
                                  <li><a href="/userWishlist">My Wishlist</a></li>
                                  <li><a href="/userAddress">My Address</a></li>
                                  <li><a href="/resetPassword">Change Password</a></li>
                                  <li><a href="/userWallet">Wallet</a></li>
                                  <li><a href="/referals">My Referrals</a></li>
                                </ul>
                              </div>
    
                        </div>
                    </div>
                </div>
                
              </div>
              <!-- left end -->

              <!-- right -->
              <div class="col-md-9">
                <div class="innerRight bg-light-tertiary p-4 mt-0">
                  <h2>My Account</h2>
                  <div class="container">
                    <div class="row ">
                        <h5 style="color:#007bff;" class="personal_h1 mt-3">Personal Details</h5>
                      <!-- Personal Details -->
                      <div class="col-12 col-md-8 mt-5">
                      
                        <table class="table text-start">
                          <!-- name -->
                          <tr>
                            
                            <td><label for="">Name</label></td>
                            <td class="tds ps-5">
                              <input type="text" class="form-control" style="width: 300px;" value="<%= userId.name %>" id="userName" name="userName" readonly>
                            </td>
                           
                              <td>
                                <a href="#" id="editLink">Edit</a>
                                <a href="#" id="nameCancelButton" style="display: none;" class="text-danger">Cancel</a>
                                <button type="submit" id="nameSubmitButton" class="text-success" style="display: none;">Submit</button>
                              </td>
                           
                            
                          </tr>
                          <!-- gender -->
                          <tr>
                            <td><label for="">Gender</label></td>
                            <td class="tds ps-5 ">
                              <input type="hidden" id="hiddenDOB" value="<%= userId.dob %>">
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="userMale" value="Male" disabled>
                                <label class="form-check-label" for="inlineRadio1">Male</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="userFemale" value="Female" disabled>
                                <label class="form-check-label" for="inlineRadio2">Female</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="userTransgender" value="Transgender" disabled>
                                <label class="form-check-label" for="inlineRadio3">Transgender</label>
                              </div>
                            </td>
                            <td>
                              <a href="#" id="genderEditButton">Edit</a>
                              <a href="#" id="genderCancelButton" style="display: none;" class="text-danger">Cancel</a>
                              <a href="#" id="genderSubmitButton" style="display: none;" class="text-success ">Submit</a>
                              
                            </td>
                          </tr>
                          <!-- dob -->
                          <tr>
                            <td><label for="">DOB :</label></td>
                            <td class="tds ps-5">
                              <input type="text" placeholder="" class="form-control" style="width: 200px; text-align: left;" id="userDob" value="<%=userId.dob%>" readonly>
                              <input type="date" style="display: none;" id="calender">
                            </td>
                            <td>
                              <a href="#" id="dobEditButton">Edit</a>
                              <a href="#" id="dobCancelButton" style="display: none;" class="text-danger">Cancel</a>
                              <a href="#" id="dobSubmitButton" style="display: none;"  class="text-success ">Submit</a>
                              
                            </td>
                          </tr>
                          
                        </table>
                      </div>
        
                      <!-- Profile Image -->
                      <div class="col-12 col-md-4 mt-5 text-center">
                        
                        <div class="userProfile">
                          <%if(userId.image[0].filename)
                          {%>

                          <div id="preview" class="image-preview" ><img src="../images/userpage/<%=userId.image[0].filename%>" class="img-fluid " alt="../images/userpage/<%=userId.image[0].filename%>" id="ImagePreview" class="img-fluid mb-2" style="max-height: 120px;"></div>
                          <%}else if(userId.image[0])
                          {%>
                            <div id="preview" class="image-preview" ><img src="../images/userpage/<%=userId.image[0]%>" class="img-fluid " alt="../images/userpage/<%=userId.image[0]%>" id="ImagePreview" class="img-fluid mb-2" style="max-height: 120px;"></div>
                          <%}%>
                        </div>
                        <input type="file" id="userProfileUpload" accept="image/*" class="image-input"   onchange="previewImage(this, 'preview')" disabled> 
                        <a href="#" id="userProfileEdit">Edit</a>
                        <a href="#" id="imageCancelButton"  class="text-danger">Cancel</a>
                        <a href="#" id="imageSubmitButton" class="text-success ">Submit</a>
                       
                      </div>
                      
                      
                    </div>
                  </div>
        
                  <!-- Contact Details -->
                  <div class="contactDetails mt-4">
                    <h5>Contact Details</h5>
                    <div class="conatiner">
                        <div class="row">
                            <div class="col-8">
                                <div class="rightContact mt-3">
                                    <table class="table text-start">
                                      <!-- email -->
                                      <tr>
                                        <td><label for="">Email</label></td>
                                        <td ><input type="text" class="form-control" style="width: 300px;" value="<%=userId.email%>" id="userEmail" readonly></td>
                  

                                      </tr>
                                      <!-- mobile -->
                                      <tr>
                                        <td><label for="">Mobile Number</label></td>
                                        <td><input type="tel" class="form-control" style="width: 300px;" value="<%=userId.mobile%>" id="userMobile" readonly></td>
                                        <td>
                                          <a href="#" id="mobileEditButton">Edit</a>
                                          <a href="#" id="mobileCancelButton" style="display: none;" class="text-danger ">Cancel</a>
                                          <a href="#" id="mobileSubmitButton" style="display: none;" class="text-success  ">Submit</a>
                                        </td>

                                      </tr>
                                      
                                    </table>
                                  </div>

                            </div>
                            <div class="col-4">

                            </div>
                        </div>
                    </div>
                    
                  </div>
                </div>
              </div>
              <!-- right end -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  

  <!-- crop modal -->
  <div class="modal fade" id="imageCropModal" tabindex="-1" aria-labelledby="imageCropModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageCropModalLabel">Crop Image</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body p-0 m-0">
                <img id="imageToCrop" src="" alt="Crop this image"
                    style="width: 100%;">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary"
                    id="cropImageBtn">Crop</button>
            </div>
        </div>
    </div>
    </div>

  <!-- crop modal -->

<!-- user logout -->

<script>
  document.getElementById('userLogout')
  .addEventListener('click',()=>{
   
    fetch('/logout',{
      method:'POST',
      headers: {
          "Content-Type": "application/json",
        },
    })
    .then((response) => response.json())
      .then((data) => {
        console.log(data)
        Swal.fire({
          title: "Logout Successfully !",
          icon: "success"
        })
        .then(() => {
          window.location.href = '/';
          });
      })
      .catch((error)=>{
        console.log(error)
      })

  })
</script>

  <!-- gender show -->
<script>
  document.addEventListener('DOMContentLoaded',()=>{
    const gender='<%=userId.gender%>'
    console.log('<%=userId.gender%>');
    console.log("gender is",gender);
    if(gender==='Male')
    {
      document.getElementById('userMale').checked=true
    }
    else if(gender==='Female')
    {
      document.getElementById('userFemale').checked=true
    }
    else if(gender==='Transgender')
    {
      document.getElementById('userTransgender').checked=true
    }

  })
</script>

<!-- user image -->
<script>

  document.addEventListener('DOMContentLoaded', function () {
  const userProfileEdit = document.getElementById('userProfileEdit');
  const userProfileUpload = document.getElementById('userProfileUpload');
  const submitButton = document.getElementById('imageSubmitButton');
  const cancelButton = document.getElementById('imageCancelButton');
  const userPhoto=document.getElementById('userPhoto')
  const userId=`<%=userId._id%>`
  const previewContainer = document.getElementById('preview');

  function getValidImageData() {
        const file = userProfileUpload.files[0];
    console.log("the file is ",file);
        if (!file) {
            alert('Please select an image file.');
            return null;
        }

        if (!file.type.startsWith('image/')) {
            alert('Invalid file type. Please select an image.');
            return null;
        }
        console.log("file are ",file);
        const formData = new FormData()
        formData.append('file', file);
        console.log("form data i s", formData);
        return formData;
    }

  userProfileEdit.addEventListener('click', function (event) {
    event.preventDefault();
    userProfileUpload.removeAttribute('disabled'); 
    submitButton.style.display = 'inline-block'; 
    cancelButton.style.display = 'inline-block'; 
    userProfileEdit.style.display = 'none'
  });

  cancelButton.addEventListener('click', function (event) {
    event.preventDefault();
    userProfileUpload.setAttribute('disabled', true); 
    userProfileEdit.style.display = 'inline-block'
    submitButton.style.display = 'none'; 
    cancelButton.style.display = 'none'; 
  });
  
  submitButton.addEventListener('click', function (event) {
    event.preventDefault();

    const imageData = getValidImageData();
    console.log("image datad is ",imageData);
    if (!imageData) {
      return;
    }

const updateOn='image'
console.log("image data is ",imageData);
  fetch(`/editUserProfile?id=${userId}&id1=${updateOn}`,{
    method:'POST',
  
    body:imageData
  })
  .then((response)=>response.json())
  .then((data)=>{
    console.log(data);
    console.log("success");
   
    if (data.success) { 
        console.log('Image uploaded successfully!');
        if (data.imageUrl) { 
          document.getElementById('ImagePreview').src = data.imageUrl;
      
        
        }
      } else {
        console.error(data.error);
        alert('Image upload failed!');
      }
  })
  .catch((error)=>{
    console.log(error);
    console.log("error failed");
    alert('An error occurred. Please try again later.');
    window.location.href='/userProfile'

  })

    userProfileUpload.setAttribute('disabled', true); 
    // userProfileUpload=' '
    userProfileEdit.style.display = 'inline-block'
    submitButton.style.display = 'none'; 
    cancelButton.style.display = 'none';
    userProfileUpload.setAttribute('disabled', true);
  });
});

</script>




<!-- image upload on edit button -->
<script>
  document.addEventListener('DOMContentLoaded', function () {
  const userProfileEdit = document.getElementById('userProfileEdit');
  const userProfileUpload = document.getElementById('userProfileUpload');

  userProfileEdit.addEventListener('click', function (event) {
    event.preventDefault();
    userProfileUpload.click(); 
  });

  userProfileUpload.addEventListener('change', function () {
 
    console.log(userProfileUpload.files[0]);
  
  });
});
</script>


<!-- image prview -->
<script>
  function previewImage(input, previewId) {
      const previewContainer = document.getElementById(previewId);
      const file = input.files[0];
    console.log("scrips 1");
      if (file) {
          const reader = new FileReader();
          console.log("scrips 2");
          reader.onload = function () {

              const existingImage = previewContainer.querySelector('img');

              if (existingImage) {
                
                  existingImage.src = reader.result;
              } else {
                 
                  const imageElement = document.createElement("img");
                  imageElement.src = reader.result;
                  imageElement.alt = file.name;
                  imageElement.classList.add('img-fluid', 'mb-2');
                  imageElement.style.maxHeight = '200px';

              
                  previewContainer.innerHTML = "";
                  previewContainer.appendChild(imageElement);
              }
          };

          reader.readAsDataURL(file);
      }
  }
</script>




<!-- user name -->
<script>
document.addEventListener('DOMContentLoaded', function () {
  const editLink = document.getElementById('editLink');
  const submitButton = document.getElementById('nameSubmitButton');
  const cancelButton = document.getElementById('nameCancelButton');
  const inputName = document.getElementById('userName');
  const name = inputName.value;
  const userId=`<%=userId._id%>`

  editLink.addEventListener('click', function (event) {
    event.preventDefault();
    inputName.removeAttribute('readonly');
    editLink.style.display = 'none';
    submitButton.style.display = 'inline';
    cancelButton.style.display = 'inline';
  });

  cancelButton.addEventListener('click', function (event) {
    event.preventDefault();
    inputName.setAttribute('readonly', true);
    editLink.style.display = 'inline';
    submitButton.style.display = 'none';
    cancelButton.style.display = 'none';
    inputName.value = name;
  });

  submitButton.addEventListener('click', function (event) {
    event.preventDefault();
    const pattern = /^[a-zA-Z]+(?:\s[a-zA-Z]+)?$/

    if(pattern.test(inputName.value)===false)
    {
      Swal.fire({
      title: "Enter Correct Name",
      text: "",
      icon: "error"
});
    }
    else
    {
      const name=inputName.value
  const updateOn="name"
  console.log(name);
  fetch(`/editUserProfile?id=${userId}`,{
    method:'post',
    headers:{
      "Content-Type":"application/json"
    },
    body:JSON.stringify({userName:name,updateOn:updateOn})
  })
  .then((response)=>response.json())
  .then((data)=>{
    console.log(data);
    console.log("success");
    window.location.href='/userProfile'
  })
  .catch((error)=>{
    console.log(error);
    console.log("error failed");
    window.location.href='/userProfile'
  })


    }


  }); 
  
});

</script>






<!-- gender -->
<script>
  document.addEventListener('DOMContentLoaded', function () {
  console.log("edit startted");
  const genderEditButton = document.getElementById('genderEditButton');
  const genderSubmitButton = document.getElementById('genderSubmitButton');
  const genderCancelButton = document.getElementById('genderCancelButton');
  const radioButtons = document.querySelectorAll('input[type="radio"]');
  const userId=`<%=userId._id%>`
  const dobValues=document.getElementById('hiddenDOB').value

  radioButtons.forEach(function (radio) {
      if (radio.value === dobValues) {
        radio.checked = true;
      }
    });

  genderEditButton.addEventListener('click', function (event) {
    event.preventDefault();
    for (let i = 0; i < radioButtons.length; i++) {
      radioButtons[i].removeAttribute('disabled');
    }
    genderEditButton.style.display = 'none';
    genderSubmitButton.style.display = 'inline';
    genderCancelButton.style.display = 'inline';
  });

  genderCancelButton.addEventListener('click', function (event) {
    event.preventDefault();
    for (let i = 0; i < radioButtons.length; i++) {
      radioButtons[i].setAttribute('disabled', true);
    }
    genderEditButton.style.display = 'inline';
    genderSubmitButton.style.display = 'none';
    genderCancelButton.style.display = 'none';
  });

  genderSubmitButton.addEventListener('click', function (event) {
    event.preventDefault();
    for (let i = 0; i < radioButtons.length; i++) {
      radioButtons[i].setAttribute('disabled', true);
    }
    genderEditButton.style.display = 'inline';
    genderSubmitButton.style.display = 'none';
    genderCancelButton.style.display = 'none';
       let gender;
      if(document.getElementById('userMale').checked)
      {
        gender=document.getElementById('userMale').value
      }
      else if(document.getElementById('userFemale').checked)
      {
        gender=document.getElementById('userFemale').value
      }
      else if(document.getElementById('userTransgender').checked)
      {
        gender=document.getElementById('Transgender').value
      }
      const updateOn="gender"
      const userGender={gender}
      console.log("gender is :",gender);
      fetch(`/editUserProfile?id=${userId}`,{
        method:'post',
        headers:{
          "Content-Type":"application/json"
        },
        body:JSON.stringify({userGender:userGender,updateOn:updateOn})
      })
      .then((response)=>response.json())
      .then((data)=>{
        console.log(data);
        console.log("success");
        window.location.href='/userProfile'
      })
      .catch((error)=>{
        console.log(error);
        console.log("error failed");
        window.location.href='/userProfile'
      })
      })

  });


</script>



<!-- dob -->
<script>
  document.addEventListener('DOMContentLoaded', function () {
  const dobEditButton = document.getElementById('dobEditButton');
  const dobSubmitButton = document.getElementById('dobSubmitButton');
  const dobCancelButton = document.getElementById('dobCancelButton');

  const userDob=document.getElementById('userDob')
  const calender=document.getElementById('calender')
    const userId=`<%=userId._id%>`
  dobEditButton.addEventListener('click', function (event) {
    event.preventDefault();
    userDob.removeAttribute('readonly'); 
    userDob.style.display='none'
    dobEditButton.style.display = 'none'; 
    calender.style.display='inline'
    dobSubmitButton.style.display = 'inline'; 
    dobCancelButton.style.display = 'inline'; 

    
  });

  dobCancelButton.addEventListener('click', function (event) {
    event.preventDefault();
    userDob.setAttribute('readonly', true); 
    userDob.style.display='inline'
    dobEditButton.style.display = 'inline'; 
    calender.style.display='none'
    dobSubmitButton.style.display = 'none'; 
    dobCancelButton.style.display = 'none'; 
    

  });

  dobSubmitButton.addEventListener('click', function (event) {
    event.preventDefault();
    userDob.setAttribute('readonly', true);
    userDob.style.display='inline'
    dobEditButton.style.display = 'inline'; 
    calender.style.display='none'
    dobSubmitButton.style.display = 'none'; 
    dobCancelButton.style.display = 'none'; 
    const dob=document.getElementById('calender').value
    console.log(dob);
    const updateOn='dob'
    fetch(`/editUserProfile?id=${userId}`,{
      method:'post',
        headers:{
          "Content-Type":"application/json"
        },
        body:JSON.stringify({userDob:dob,updateOn:updateOn})
      })
      .then((response)=>response.json())
      .then((data)=>{
        console.log(data);
        console.log("success");
        window.location.href='/userProfile'
      })
      .catch((error)=>{
        console.log(error);
        console.log("error failed");
        window.location.href='/userProfile'
      })
  

  });
});

</script>






<!-- mobile -->
<script>
  document.addEventListener('DOMContentLoaded', function () {
const mobileEditButton = document.getElementById('mobileEditButton');
const mobileSubmitButton = document.getElementById('mobileSubmitButton');
const mobileCancelButton = document.getElementById('mobileCancelButton');

const userMobile=document.getElementById('userMobile')
const userId=`<%=userId._id%>`


mobileEditButton.addEventListener('click', function (event) {
  event.preventDefault();
  userMobile.removeAttribute('readonly'); 
  mobileEditButton.style.display = 'none'; 
  mobileSubmitButton.style.display = 'inline';
  mobileCancelButton.style.display = 'inline'; 
});

mobileCancelButton.addEventListener('click', function (event) {
  event.preventDefault();
  userMobile.setAttribute('readonly', true); 
  mobileEditButton.style.display = 'inline'; 
  mobileSubmitButton.style.display = 'none'; 
  mobileCancelButton.style.display = 'none'; 
});

mobileSubmitButton.addEventListener('click', function (event) {
  event.preventDefault();
  userMobile.setAttribute('readonly', true); 
  mobileEditButton.style.display = 'inline'; 
  mobileSubmitButton.style.display = 'none'; 
  mobileCancelButton.style.display = 'none';
  const mobile=userMobile.value

  const pattern = /^\d{10}$/;

  if(pattern.test(mobile)===false)
  {
    Swal.fire({
      title: "Enter Correct Phone Number",
      text: "",
      icon: "error"
});

  }
  else
  {
    const updateOn='mobile'
  fetch(`/editUserProfile?id=${userId}`,{
    method:'POST',
      headers:{
        "Content-Type":"application/json"
      },
      body:JSON.stringify({userMobile:mobile,updateOn:updateOn})
    })
    .then((response)=>response.json())
    .then((data)=>{
      console.log(data);
      console.log("success");
      window.location.href='/userProfile'
    })
    .catch((error)=>{
      console.log(error);
      console.log("error failed");
      window.location.href='/userProfile'
    })

  }

});
});

</script>





<%- include('../layout/user/footer')%>