<%- include('../layout/user/header')%>

<link rel="stylesheet" href="/home/styles/home/homeStyle.css">
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <!-- Left Side - Images -->
            <div class="d-flex">
                <a class="navbar-brand" href="#">
                    <img src="./images/userpage/Homy-logos_transparent.png" alt="Logo" width="90" height="60" class="d-inline-block align-text-top">
                </a>
                <a class="navbar-brand" href="#">
                    <img src="./images/userpage/homy.png" alt="Logo" width="120" height="60" class="d-inline-block align-text-top">
                </a>
            </div>

            <!-- Center - Navigation Links -->
            <div class="d-flex justify-content-center">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/home/home">Home</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link active" aria-current="page" href="/home/category">Collections</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Projects</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Contact</a>
                            </li>
                           
                        </ul>
                    </div>
                </div>
            </div>


            <div class="d-flex ml-auto">
               
                <input type="text" class="form-control m-3" placeholder="Search">
                <%if(locals.loginStatus===false)
                {%>
                  <a href="/home/login" class="nav-link m-3 ">Login</a>
                  
                  <%} else {%>
                
                    
                    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                        <ul class="navbar-nav">
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Hi, <%= userId.name %>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-light dropdown-menu-lg-end" aria-labelledby="navbarDropdownMenuLink">
                              <a href="/home/userProfile"><li><button class="dropdown-item" id="userProfile" >Profile</button></li></a>
                              <a href="/home/userOrders"><li><button class="dropdown-item" id="userOrder" >Orders</button></li></a>
                              <a href="/home/userAddress"><li><button class="dropdown-item" id="userAddress" >Address</button></li></a>
                              <li><hr class="dropdown-divider"></li>
                              <li><button class="dropdown-item" id="userLogout" data-user-userId="<%= userId._id %>">Logout</button></li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    <%}%>
                
                    <a href="/home/userWishlist" class="nav-link m-3" ><i class="fa-regular fa-heart fa-lg" style="color: #31415e;"></i></a>
                    <a href="/home/userCart" class="nav-link m-3 "><i class="fa-solid fa-cart-arrow-down"></i></a>
            </div>
        </div>
    </nav>
</header>




<section class="account-settings">
    <div class="container">
      <div class="row">
        <div class="mainBody">
          <div class="container">
            <div class="row">
                <!-- left -->
              <div class="col-md-3  ">
                <div class="innerLeft ">
                    <div class="container">
                        <div class="row">
                            <div class="leftOne mb-5">
                                <h4>Hi, <%= userId.name %></h4>
                              </div>
                              <hr style="height: 2px; background-color: #ffffff; border: none; width: 250px; margin-left: 25px;">
                              <div class="leftTwo ">
                                <ul class="account-nav">
                                    <li><a href="/home/userProfile">My Account</a></li>
                                    <li><a href="/home/userOrders">My Orders</a></li>
                                    <li><a href="/home/userWishlist">My Wishlist</a></li>
                                    <li><a href="/home/userAddress">My Address</a></li>
                                    <li><a href="/home/resetPassword">Change Password</a></li>
                                    <li><a href="#">Wallet</a></li>
                                    <li><a href="/home/referals">My Referrals</a></li>
                                </ul>
                              </div>
    
                        </div>
                    </div>
                </div>
                
              </div>
              <!-- left end -->

              <!-- right -->
              <div class="col-md-9">
                <div class="innerRight bg-light-tertiary p-4 mt-0">
                  <h2>My Wallet</h2>
                  
                  <!-- section starting -->
                  <section>
                    <div class="container mt-5">
                      <div class="row">
                        <div class="col-4">
                          <button type="button" class="btn btn-light wallet-Balance">
                            <div class="innerWallet d-flex justify-content-center">
                              <i class="fa-solid fa-wallet"></i> &nbsp;<h5>Balance</h5>
                            </div>
                            <div class="innerAmount">
                              <%if(userWallet!=null)
                              {%>
                              ₹ <%=userWallet.balance%>
                              <%}%>
                            </div>
                          </button>
                        </div>
                        <div class="col-8">
                          <div class="wallet-Adding">
                            <div class="innerAdding d-flex justify-content-center">
                              <input type="text" id="walletAmount" placeholder="₹">
                              <button type="button" class="btn btn-success ms-4" id="addWalletBtn">+Add Amount</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                  <section>
                    <div class="container mt-5  ">
                      <div class="transactions">
                      <div class="accordion accordion-flush " id="accordionFlushExample">
                        <div class="accordion-item  ">
                          <h2 class="accordion-header ">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                              Transactions
                            </button>
                          </h2>
                          <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                              <div style="max-height: 200px; overflow-y: scroll;"> 
                              <table>
                                <thead>
                                  <tr>
                                    <th>Transactions</th>
                                    <th>Date</th>
                                  
                                    <th>Amount</th>
                                    <th>Status</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  
                                  <%
                                  if(userWallet!=null)
                                  {
                                  if(userWallet.transaction.length>0)
                                  {
                                    for(let i=0;i<userWallet.transaction.length;i++)
                                    {%>
                                      
                                  <tr>
                                    <td>Transaction</td>
                                    <td><%=userWallet.transaction[i].date.toLocaleString('en-IN', { timeZone: 'Asia/Kolkata', day: '2-digit', month: 'short', year: 'numeric', hour: 'numeric', minute: 'numeric', hour12: true }) %></td>
                                   
                                    <td>₹ <%=userWallet.transaction[i].amount%></td>
                                    <td>
                                      <%if(userWallet.transaction[i].type==="credit"){%>
                                      <button class="green"></button>
                                      <%}else if(userWallet.transaction[i].type==="debit"){%>
                                        <button class="red"></button>
                                      <%}%>
                                    </td>
                                  </tr>
                                 <%
                                }
                                }
                              }
                                 %>
                                
                                </tbody>
                              </table>
                             </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
                  </section>




                    <!-- section end -->
                </div>
              </div>
              <!-- right end -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  




<!-- user logout -->

<script>
  document.getElementById('userLogout')
  .addEventListener('click',()=>{
   
    fetch('/home/logout',{
      method:'POST',
      headers: {
          "Content-Type": "application/json",
        },
    })
    .then((response) => response.json())
      .then((data) => {
        console.log(data)
        Swal.fire({
          title: "Logout Successfully !",
          icon: "success"
        })
        .then(() => {
          window.location.href = '/home';
          });
      })
      .catch((error)=>{
        console.log(error)
      })

  })
</script>

<!-- razorpay library-->
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

<!-- payment cashondelivery and onlinepayment  -->
<script>
  const addWalletBtn=document.querySelectorAll('#addWalletBtn')
 
  addWalletBtn.forEach(addWallet => {
    addWallet.addEventListener('click',()=>{
  const amount=document.getElementById('walletAmount').value
  console.log("amount is ",amount);
    fetch(`/home/addWallet`,{
      method:"POST",
      headers:{
        "Content-Type":"application/json"
      },
      body:JSON.stringify({amount:amount})
    })
    .then((response)=>response.json()
    .then((data)=>{
      console.log("success order");
      console.log(data);
      razorpayPayment(data);
    }))
    .catch((error)=>{
      console.log(error);
    })
  })
  })

function razorpayPayment(order)
{
  console.log("razor pay first funtion called..");
  console.log(typeof(order.amount));
  var options = {
    "key": "rzp_test_HMZrUgnBYupd2b", 
    "amount": order.amount, 
    "currency": "INR",
    "name": "Homy Furnitures",
    "description": `Order ID :${order.receipt} `,
    "image": "https://example.com/your_logo",
    "order_id": order.id, 
    "handler": function (response){
        // alert(response.razorpay_payment_id);
        // alert(response.razorpay_order_id);
        // alert(response.razorpay_signature)
        verifyPayment(response,order)
    },
    "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9000090000"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp = new Razorpay(options);

  rzp.open();
}

function verifyPayment(payment,order)
{
  console.log("2nd funtion listeningg....");
  console.log("payment",payment);
  console.log("order",order);
  $.ajax({
    url:'/home/verifyAddWallet',
    data:{
      payment,
      order
    },
    method:'POST',
    success:function(data){
      console.log("success data is ",data);
        if(data===true)
      {
        Swal.fire({
            title: "Credited to Wallet Successfully",
            icon: "success"
          })
          .then(() => {
            window.location.href = '/home/userWallet';
            });
      }
      else
      {
        Swal.fire({
            title: "Wallet Credit Failed",
            icon: "error"
          })
          .then(() => {
            window.location.href = '/home/userWallet';
            });
      }
    },
    error:function(error){
      console.error("error occured while making ajax",error)
    }
  })
  console.log("2nd function end....data",data);
}

</script>





<%- include('../layout/user/footer')%>